<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog! </h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <p class="text-justify text-monospace">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, a neque nostrum quos quam odit nihil minima
            recusandae iure doloribus facere facilis error, hic praesentium! Exercitationem laboriosam inventore ut
            suscipit.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut enim nostrum iste nihil officia sint, quo nam
            corporis consequatur similique qui at voluptatibus repellendus vel maiores accusamus deserunt voluptatem
            doloremque!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, pariatur itaque accusantium esse qui
            ipsa architecto similique omnis eligendi consectetur dolorum maxime, et dicta inventore illo ullam voluptas
            soluta ad?
        </p>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-12-md w-100 d-flex justify-content-center">
            <button class="btn btn-outline-secondary text-uppercase font-weight-bold text-monospace">Ver o Feed</button>
        </div>
    </div>

