<div class="container">
    <div class="row mt-5 mb-3">
        <div class="col-md-12">
            <h5 class="text-center text-monospace texto">Cadastrar Usuario:</h5>
        </div>
    </div>
    <div class="row mb-5 d-flex justify-content-center">
        <div class="card border border-dark shadow w-75" style="width: 18rem;">
            <img src="https://www.flaticon.com/svg/static/icons/svg/888/888991.svg" width="75" height="75" class="card-img-top mt-4" alt="...">
            <div class="card-body">

                    <div class="form-group">
                      <label for="exampleInputPassword1">Nome</label>
                      <input type="text" class="form-control" id="exampleInputNome1" placeholder="Digite seu nome completo">
                    </div>

                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">E-mail</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="exemplo@email.com">
                          <small id="emailHelp" class="form-text text-muted">Nós nunca compartilharemos seu e-mail com ninguém</small>
                        </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Senha</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha aqui.">
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Cofirme sua senha</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirme sua senha aqui.">
                              </div>
                        </div>
                    </div>    
                    <div class="row mt-2 d-flex justify-content-center">
                    <button ctype="submit" class="btn btn-secondary">Cadastrar</button>
                    </div>
                  </form>
            </div>
          </div>
    </div>

</div>

